@import 'bootstrap/dist/css/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container, .navbar {
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.navbar {
  border-bottom: 2px solid rgb(206, 206, 206);
  background-color: white;
}

.home {
  margin-top: 30px;
  /* height: 100vh; */
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto auto auto;
  margin-top: 20px;
  height: calc(100vh - 10px);
  /* overflow: auto;  USE THIS FOR SCROLL DIVS!!! */
}

.pet-dashboard-card {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.pet-card {
  margin: 15px;
  display: flex;
  align-content: center;
}

.chart {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
}
.chart-container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  margin: 5px;
}

.sign-in {
  margin-top: 30px;
}

.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
    min-height: 290px;
}

.weight-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 950px) {

  .dashboard {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* flex-wrap: wrap; */
  }
  .chart {
    width: 400px;
  }

  .chart-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

  .card-container {
    width: 100%;
  }

  .pet-card {
    width: 300px;
    margin: 10px;
  }

  .pet-dashboard-card {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .dashboard, .chart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .chart-container {
    position: relative;
    width: 100%;
}

  .pet-dashboard-card {
    max-width: 90%;
  }

  .pet-card {
    width: 100%;
  }
}